<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Message</title>
  </head>
  <body>
    <form action="/add" method="post">
      Message：<input type="text" name="message" value="" />
      Author： <input type="text" name="author" value="" />
      <input type="submit" value="Submit" />
    </form>
    <a href="/">返回主页</a>
    </body>
</html>
